<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="static/style.css">
		<script src="static/htmx.min.js"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
	</head>	
	<body>
	<div id="content"></div>
		<form hx-post="/request" hx-include="#test" 
			hx-target="#content" hx-swap="beforeend" >
		<!-- <form hx-ext="debug" hx-swap="none" hx-post="/request"> -->
			<input type="text" name="entry" id="entry"></input>
			<input type="submit" value="Submit"></input>
		</form>
	</body>
	<!-- <div id="test"></div> -->
	<input id="test"/>
</html>
